/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html{
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
}

html,body{ 
	width:100%;
	height:100%;
	background:#111;
  color: #CCCCCC;
  font-family: 'Source Code Pro',Courier, monospace;

}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
    font-family: 'Source Code Pro',Courier, monospace;
}

canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */


/* ---- particles.js container ---- */



#scroll-icon{
  margin-top: 30vh;
  text-align: center;
}

.ptsans{
  font-family: 'PT Sans', sans-serif;
}


@media only screen and (min-width: 320px) and (max-width: 479px){
  #particles-js{
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0,0,0,0);
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  #title{
    position: relative;
    top: 40vh;
    height: 100vh;
    width: 100vw;
    text-align: center
  }

  #title #heading{
    text-align: center;
    position: relative;
    letter-spacing: 35vw;
    width: 70vw;
    left:15vw;
    opacity: 1;
    /*background-color: ;*/
    padding: 10px;
    border-radius: 4px;
  }

  #title #heading #heading-text{
    font-size: 1.3rem;
    font-weight: 100;
    opacity: 0;
    color: white;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
  }

  #title #caption span{
    font-size: 0.7rem;
    font-weight: 100;
    letter-spacing: 3.7px;
    text-align: center;
    text-transform: uppercase;
  }

  #title #caption{
    text-align: center;
    opacity: 0;
  }

  #our-focus{
    position: relative;
    margin-top: 20vw;
    margin-bottom: 25vh;
    width: 70vw;
    left: 15vw;
  }

  #our-focus #caption{
    color: #FFFFFF;
    /*opacity: 0;*/
    /*font-style: italic;*/
    font-size: 0.8rem;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    /*text-transform: lowercase;*/
    line-height: 200%;
    margin-bottom: 10vh;
  }

  #our-focus .heading{
    text-align: left;
    position: relative;
    font-size: 1.1em;
    margin-top: 10vh;
    color: #FFFFFF;
  }

  #our-focus ul {
    margin-top: 20px;
    list-style: none;
    padding: 0;
    list-style-position: outside;
    margin-left: 1em;
  }

  #our-focus ul li { 
    text-indent: -1.3em;
    margin-bottom: 5px;
    display: block;
    font-size: 0.8rem;
    list-style-type: none;
    position: relative;
    padding-left: 5px;
    line-height: 150%;
    word-spacing: 2px;
  }

  #our-focus ul li::before {
    content: "• ";
    color: white;
  }

  #offering-img{
    position: relative;
    width: 100vw;
    background-color: white;
    margin-top :100px;
    z-index: 100;
    opacity: 0.9;
    margin-bottom: 20vh;
  }

  #offering-img img{
    position: relative;
    width: 80vw;
    height: auto;
    left: 10vw;
    
  }

}

@media only screen and (min-width: 480px) and (max-width: 759px){
  #particles-js{
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0,0,0,0);
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  #title{
    position: relative;
    top: 40vh;
    height: 100vh;
    width: 100vw;
    text-align: center
  }

  #title #heading{
    text-align: center;
    position: relative;
    letter-spacing: 35vw;
    width: 70vw;
    left:15vw;
    opacity: 1;
    /*background-color: ;*/
    padding: 10px;
    border-radius: 4px;
  }

  #title #heading #heading-text{
    font-size: 1.5rem;
    font-weight: 100;
    opacity: 0;
    color: white;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
  }

   #title #caption span{
    font-size: 0.7rem;
    font-weight: 100;
    letter-spacing: 3.7px;
    text-align: center;
    text-transform: uppercase;
  }

  #title #caption{
    text-align: center;
    opacity: 0;
  }

  #our-focus{
    position: relative;
    margin-top: 20vw;
    margin-bottom: 25vh;
    width: 70vw;
    left: 15vw;
  }

  #our-focus #caption{
    color: #FFFFFF;
    /*opacity: 0;*/
    /*font-style: italic;*/
    font-size: 0.8rem;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    /*text-transform: lowercase;*/
    line-height: 200%;
    margin-bottom: 10vh;
  }

  #our-focus .heading{
    text-align: left;
    position: relative;
    font-size: 1.1em;
    margin-top: 10vh;
    color: #FFFFFF;
  }

  #our-focus ul {
    margin-top: 20px;
    list-style: none;
    padding: 0;
    list-style-position: outside;
    margin-left: 1em;
  }

  #our-focus ul li { 
    text-indent: -1.3em;
    margin-bottom: 5px;
    display: block;
    font-size: 0.7rem;
    list-style-type: none;
    position: relative;
    padding-left: 5px;
    line-height: 150%;
    word-spacing: 2px;
  }

  #our-focus ul li::before {
    content: "• ";
    color: white;
  }


  #offering-img{
    position: relative;
    width: 100vw;
    background-color: white;
    margin-top :100px;
    z-index: 100;
    opacity: 0.9;
    margin-bottom: 20vh;
  }

  #offering-img img{
    position: relative;
    width: 90vw;
    height: auto;
    left: 5vw;
    
  }

}

@media only screen and (min-width: 760px) and (max-width: 991px){
  
  #particles-js{
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0,0,0,0);
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

   #title{
    position: relative;
    top: 40vh;
    height: 100vh;
    width: 100vw;
    text-align: center
  }

  #title #heading{
    text-align: center;
    position: relative;
    letter-spacing: 35vw;
    width: 70vw;
    left:15vw;
    opacity: 1;
    /*background-color: ;*/
    padding: 10px;
    border-radius: 4px;
  }

  #title #heading #heading-text{
    font-size: 2rem;
    font-weight: 100;
    opacity: 0;
    color: white;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
  }


  #title #caption span{
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 3.7px;
    text-align: center;
    text-transform: uppercase;
  }

  #title #caption{
    text-align: center;
    opacity: 0;
  }

  #our-focus{
    position: relative;
    margin-top: 20vw;
    margin-bottom: 25vh;
    width: 70vw;
    left: 15vw;
  }

  #our-focus #caption{
    color: #FFFFFF;
    /*opacity: 0;*/
    /*font-style: italic;*/
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    /*text-transform: lowercase;*/
    line-height: 200%;
    margin-bottom: 10vh;
  }

  #our-focus .heading{
    text-align: left;
    position: relative;
    font-size: 1.6em;
    margin-top: 10vh;
    color: #FFFFFF;
  }

  #our-focus ul {
    margin-top: 20px;
    list-style: none;
    padding: 0;
    list-style-position: outside;
    margin-left: 1em;
  }

  #our-focus ul li { 
    text-indent: -1.3em;
    margin-bottom: 5px;
    display: block;
    font-size: 1.2rem;
    list-style-type: none;
    position: relative;
    padding-left: 5px;
    line-height: 150%;
    word-spacing: 2px;
  }

  #our-focus ul li::before {
    content: "• ";
    color: white;
  }


  #offering-img{
    position: relative;
    width: 100vw;
    background-color: white;
    margin-top :100px;
    z-index: 100;
    opacity: 0.9;
    margin-bottom: 20vh;
  }

  #offering-img img{
    position: relative;
    width: 80vw;
    height: auto;
    left: 10vw;
    
  }

}



@media only screen and (min-width: 992px) and (max-width: 1100px){
  #particles-js{
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 99;
    background-color: rgba(0,0,0,0);
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

   #title{
    position: relative;
    top: 40vh;
    height: 100vh;
    width: 100vw;
    text-align: center
  }

  #title #heading{
    text-align: center;
    position: relative;
    letter-spacing: 35vw;
    width: 70vw;
    left:15vw;
    opacity: 1;
    /*background-color: ;*/
    padding: 10px;
    border-radius: 4px;
  }

  #title #heading #heading-text{
    font-size: 2rem;
    font-weight: 100;
    opacity: 0;
    color: white;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
  }

  #title #caption span{
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 3.7px;
    text-align: center;
    text-transform: uppercase;
  }

  #title #caption{
    text-align: center;
    opacity: 0;
  }


  #our-focus{
    position: relative;
    margin-top: 20vw;
    margin-bottom: 25vh;
    width: 70vw;
    left: 15vw;
  }

  #our-focus #caption{
    color: #FFFFFF;
    /*opacity: 0;*/
    /*font-style: italic;*/
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    /*text-transform: lowercase;*/
    line-height: 200%;
    margin-bottom: 10vh;
  }

  #our-focus .heading{
    text-align: left;
    position: relative;
    font-size: 1.5em;
    margin-top: 10vh;
    color: #FFFFFF;
  }

  #our-focus ul {
    margin-top: 20px;
    list-style: none;
    padding: 0;
    list-style-position: outside;
    margin-left: 1em;
  }

  #our-focus ul li { 
    text-indent: -1.3em;
    margin-bottom: 5px;
    display: block;
    font-size: 1.2rem;
    list-style-type: none;
    position: relative;
    padding-left: 5px;
    line-height: 150%;
    word-spacing: 2px;
  }

  #our-focus ul li::before {
    content: "• ";
    color: white;
  }


  #offering-img{
    position: relative;
    width: 100vw;
    background-color: white;
    margin-top :100px;
    z-index: 100;
    opacity: 0.9;
    margin-bottom: 20vh;
  }

  #offering-img img{
    position: relative;
    width: 80vw;
    height: auto;
    left: 10vw;
    
  }

  


}


@media only screen and (min-width: 1100px) and (max-width: 1999px){
  
  #particles-js{
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 99;
    background-color: rgba(0,0,0,0);
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  #title{
    position: relative;
    top: 40vh;
    height: 100vh;
    width: 100vw;
    text-align: center
  }

  #title #heading{
    text-align: center;
    position: relative;
    letter-spacing: 35vw;
    width: 70vw;
    left:15vw;
    opacity: 1;
    /*background-color: ;*/
    padding: 10px;
    border-radius: 4px;
  }

  #title #heading #heading-text{
    font-size: 4rem;
    font-weight: 100;
    opacity: 0;
    color: white;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
  }


  #our-focus{
    position: relative;
    margin-top: 20vw;
    margin-bottom: 25vh;
    width: 70vw;
    left: 15vw;
  }


  #our-focus #caption{
    color: #FFFFFF;
    /*opacity: 0;*/
    /*font-style: italic;*/
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    /*text-transform: lowercase;*/
    line-height: 200%;
    margin-bottom: 10vh;
  }

  #our-focus .heading{
    text-align: left;
    position: relative;
    font-size: 1.6em;
    margin-top: 10vh;
    color: #FFFFFF;
  }

  #our-focus ul {
    margin-top: 20px;
    list-style: none;
    padding: 0;
    list-style-position: outside;
    margin-left: 1em;
  }

  #our-focus ul li {
    text-indent: -1.3em;
    margin-bottom: 5px;
    display: block;
    font-size: 1.2rem;
    list-style-type: none;
    position: relative;
    padding-left: 5px;
    line-height: 150%;
    word-spacing: 2px;
  }

  #our-focus ul li::before {
    content: "• ";
    color: white;
  }

  #offering-img{
    position: relative;
    width: 100vw;
    background-color: white;
    margin-top :100px;
    z-index: 100;
    opacity: 0.9;
    margin-bottom: 20vh;
  }

  #offering-img img{
    position: relative;
    width: 80vw;
    height: auto;
    left: 10vw;
    
  }

}




